.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(175, 175, 175);
}

.left-seciton {
  padding: 1rem;
}

.left-seciton h2 {
  font-size: 1rem;
}

.main h2 {
  margin-bottom: 12px;
}

.main {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.theme-grid-container {
  margin-top: 28px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
}

.theme-grid-container a {
  text-decoration: none;
  color: black;
}

.theme-grid-container .themes {
  padding: 1rem 2rem;
  background-color: white;
  border-radius: 12px;
}