.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(175, 175, 175);
  background-color: rgb(26, 32, 61);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 22;
  height: 50px;
}

.left-seciton {
  padding: 1rem;
}

.left-seciton h2 {
  font-size: 1rem;
  font-weight: bold;
}

.main h2 {
  margin-bottom: 12px;
}

.main {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.theme-grid-container {
  margin-top: 28px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
}

.theme-grid-container a {
  text-decoration: none;
  color: black;
}

.theme-grid-container a .themes {
  height: 120px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(28, 33, 39);
  border-radius: 12px;
  font-size: 0.65rem;
  border: 1px solid rgb(90, 90, 90);
  /* white-space: nowrap; */
  color: rgb(216, 216, 216);
}

.themes h3 {
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
}

.themes img {
  width: 24px;
}