.verse-page-header {
  background-color: rgb(26, 32, 61);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid rgb(58, 58, 58);
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 50px;
}

.link-lists {
  list-style: none;
  display: flex;
  gap: 15px;
}

.link-lists a {
  text-decoration: none;
  color: rgb(216, 216, 216);
  font-size: 0.7rem;
}

.verse-container {
  display: flex;
  /* width: 600px; */
  margin: 10rem auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.verse-content {
  width: 100vw;
  max-width: 600px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.action-buttons {
  margin-bottom: 20px;
}

.action-buttons button {
  background-color: rgb(26, 106, 255);
  color: white;
  font-size: 0.7rem;
  padding: 8px 16px;
  margin-right: 12px;
  border-radius: 6px;
  cursor: pointer;
}

#back {
  background-color: transparent;
  border: 1px solid gray;
  
}

.footer {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(94, 94, 94);
}

.footer .top-section {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gray;
}

.footer .bottom-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
}

.footer-links {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  a {
    text-decoration: none;
    color: rgb(189, 189, 189);
    font-size: 0.7rem;
  }
}

.date {
  color: rgb(94, 94, 94);
  font-size: 0.7rem;
}