.header {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  border-bottom: 1px solid rgb(175, 175, 175);
  background-color: rgb(26, 32, 61);
  /* color: white; */
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0; */
  z-index: 22;
  /* height: 50px; */
}

/* .left-seciton {
  padding: 1rem;
} */

