@import "tailwindcss";

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(26, 32, 61);
  margin-top: 50px;
}